*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*******************NAV BAR******************/
.nav-image{
    width: 80px;
}

.logo-title-container{
    padding: 0 10px;
    display: flex;
}

.nav-left{
    display: flex;
}

.total-nav-flex ul{
    display: flex;
    align-items: center;
    list-style: none;
}


.total-nav-flex a{
    text-decoration: none;
    padding: 10px;
    color: gray;
}


.big-container{
    margin: auto;
    max-width: 1200px;
    border: 1px solid blue;
    height: 200px; /*lo metto perchè non ho contenuto ancora*/
    text-align: center;
}


.small-main-container{
    margin: auto;
    max-width: 920px;
    border: 1px solid green;
    height: 200px; /*lo metto perchè non ho contenuto ancora*/
}

.nav-right{
    display: flex;
    padding-right: 10px;
}


.total-nav-flex{
    display: flex;
    justify-content: space-between;
}

button{
    border: none;
    background-color: rgba(0,97,255,255);
    color: white;
}

/*****************HEADER********************/

.big-container{
    background-color: rgba(180,208,231,255)
}