*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*******************NAV BAR******************/

.total-nav-flex{
    background-color: white;
}

.nav-image{
    width: 80px;
}

.logo-title-container{
    padding: 0 10px;
    display: flex;
}

.nav-left{
    display: flex;
}

.total-nav-flex ul{
    display: flex;
    align-items: center;
    list-style: none;
}


.total-nav-flex a{
    text-decoration: none;
    padding: 10px;
    color: black;
}



.nav-right{
    display: flex;
    padding-right: 10px;
}


.total-nav-flex{
    display: flex;
    justify-content: space-between;
}

button{
    border: none;
    background-color: rgba(0,97,255,255);
    color: white;
}

/*****************HEADER********************/



